.tablecontainer {
  max-height: 400px; // Set a specific height for the table container
  overflow-y: auto;
  width: 100vw;
  min-width: 100vw;
  min-height: calc(100vh - 250px);

  .styledtable {
    width: 100%;
    border-collapse: collapse;
    background-color: yellow;

    th {
      padding: 12px;
      background-color: blue;
      color: white;
      position: sticky;
      top: 0;
      z-index: 1; // Ensure the header is on top
    }
    tr {
      cursor: pointer;
    }
    tr:nth-child(even) {
      background-color: #b9b8b8; // Set the background color for even rows
    }

    tr:nth-child(odd) {
      background-color: #ffffff; // Set the background color for odd rows
    }

    td {
      border-bottom: 1px solid #ddd;
      padding: 12px;
      text-align: left;
    }
    .btn {
      background: blue;
      color: white;
      min-width: 120px;
      text-align: center;
      height: 70px;
      padding: 20px;
      margin: 0;
      border-radius: 15px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
    }
  }
}
